/* title */
.title-about {
    padding: 20px;
    background-color: rgba(22, 29, 53, 0.7);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}

.title-about h1 {
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgba(49, 63, 110, 0.7);
    color: silver;
    width: auto;
    font-size: 50px;
    border-radius: 20px;
    border: 2px solid black;
}

.title-about p {
    font-weight: bold;
    text-align: justify;
    color: rgb(207, 207, 207);
}

/* alamat */
.alamat {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(26, 32, 87, .8);
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

/* map */
.map {
    border-radius: 20px;
    overflow: hidden;
}

.map p {
    padding: 10px;
    background-color: rgba(22, 29, 53, 0.7);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}

.map a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

/* sos-med about */
.sos-med {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(49, 63, 110, 0.7);
    border-radius: 20px;
    border: 2px solid black;
    justify-content: space-around;
}

.sos1 {
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(26, 32, 87, .8);
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

.sos2 {
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    background-color: rgba(26, 32, 87, .8);
    width: auto;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

.sos3 {
    justify-content: center;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    background-color: rgba(16, 20, 71, 0.8);
    width: auto;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

.name-sosmed {
    font-size: 20px;
    color: white;
}

/* instagram */
.instagram {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50vmin;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 30px;
    background: radial-gradient(
            circle farthest-corner at 28% 100%,
            #fcdf8f 0%,
            #fbd377 10%,
            #fa8e37 22%,
            #f73344 35%,
            transparent 65%
            ), linear-gradient(145deg, #3051f1, 10%, #c92bb7 70%);

}

.instagram::before {
    content: "";
    color: #fff;
    position: absolute;
    border-radius: inherit;
    aspect-ratio: 1;
    border: 10px solid;
    width: 65%;
}

.instagram::after {
    content: "";
    color: #fff;
    position: absolute;
    border-radius: inherit;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 10px solid;
    width: 35%;
}

.instagram::after {
    box-shadow: 0.22em, -0.22em, 0 -0.18em;
}

/* youtube */
.youtube {
    width: 250px;
    height: 200px;
    position: relative;
    padding: 0 15px;
    background: #ff0000;
    color: #fff;
    border-radius: 50% / 11%;
}

.youtube::before {
    content: "";
    line-height: 372px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -4.5%;
    background: inherit;
    border-radius: 5% / 50%;
}

.arrow {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow::before {
    content: "";
    word-wrap: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 70px solid #fff;
    z-index: 9;
}

/* facebook */
.facebook {
    background: #4661b0;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 15px solid #4661b0;
    border-bottom: 0;
    text-indent: -999em;
    overflow: hidden;
}

.facebook::before {
    content: "/20";
    position: absolute;
    right: -27px;
    bottom: -30px;
    background: #4661b0;
    width: 40px;
    height: 130px;
    border: 20px solid white;
    border-radius: 25px;
}

.facebook::after {
    content: "/20";
    position: absolute;
    top: 90px;
    right: 5px;
    width: 70px;
    height: 20px;
    background: white;
}

/* tambahan */
.kotak {
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;
}

.kotak div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.kotak div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgb(26, 32, 87));
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: black;
    transform: rotateX(90deg) translateZ(50px);

}

.top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(26, 32, 87);
    transform: translateZ(-100px);
}

.top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(26, 32, 87);
    transform: translateZ(-140px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(26, 32, 87, .2),
                0 0 200px rgba(26, 32, 87, .4),
                0 0 300px rgba(26, 32, 87, .6),
                0 0 400px rgba(26, 32, 87, .8),
                0 0 500px rgba(26, 32, 87, 1);
}

.kotak2 {
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate2 4s linear infinite;
}

.kotak2 div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.kotak2 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgb(26, 32, 87));
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: black;
    transform: rotateX(90deg) translateZ(50px);

}

.top2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(26, 32, 87);
    transform: translateZ(-100px);
}

.top2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(26, 32, 87);
    transform: translateZ(-140px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(26, 32, 87, .2),
                0 0 200px rgba(26, 32, 87, .4),
                0 0 300px rgba(26, 32, 87, .6),
                0 0 400px rgba(26, 32, 87, .8),
                0 0 500px rgba(26, 32, 87, 1);
}