.btn-menu {
    margin: 20px;
    padding-top: 25px;
    align-items: center;
    background-color: rgba(101, 122, 118, 0.7);
    width: 200px;
    height: 60px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px whitesmoke;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: none;
    content: "";
    transition: background-color 1s linear,
                border .5s linear,
                box-shadow .5s linear;
}

.btn-menu:hover {
    background-color: rgba(56, 68, 66, 0.7);
    border: 6px solid rgb(13, 43, 63);
    box-shadow: 5px 5px 5px 5px black;
}

.btn-menu:active {
    background-color: rgba(37, 44, 43, 0.7);
    transition: 1s;
}

.btn {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    /* box-shadow: 2px 2px 2px 2px black; */
}

/* search */
.btn-search {
    margin-left: 15px;
    padding: 14px 20px;
    border-radius: 20px;
    background-color: white;
    
}

/* jumbotron */
.btn-jbt {
    padding: 10px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}

/* popUp */
.tbl-pop {
    cursor: pointer;
}

.ulasan {
    padding: 20px;
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* popup ulasan */
.tbl {
    justify-content: space-between;
    text-align: center;
}

.btn-pop {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.btn-ulas {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    text-decoration: none;
    text-shadow: 5px 5px 5px silver;
}

#ulasFilm {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 12;
    visibility: hidden;
}

.window {
    width: 50%;
    height: auto;
    background-color: #a39d9d;
    box-shadow: 10px 10px 10px 0px black;
    border-radius: 10px;
    border: 10px solid rgb(46, 45, 45);
    position: relative;
    padding: 30px;
    text-align: center;
    margin: 10% auto;
}

.window h2 {
    margin: 30px 0 0 0;
}

.close-button {
    padding: 20px;
    line-height: 23px;
    background: #000;
    border-radius: 50%;
    border: 3px solid #fff;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 80px;
}

#ulasFilm:target {
    visibility: visible;
}