.btn-menu {
    margin: 20px;
    padding-top: 25px;
    align-items: center;
    background-color: rgba(101, 122, 118, 0.7);
    width: 200px;
    height: 60px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px whitesmoke;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: none;
    content: "";
    transition: background-color 1s linear,
                border .5s linear,
                box-shadow .5s linear;
}

.btn-menu:hover {
    background-color: rgba(56, 68, 66, 0.7);
    border: 6px solid rgb(13, 43, 63);
    box-shadow: 5px 5px 5px 5px black;
}

.btn-menu:active {
    background-color: rgba(37, 44, 43, 0.7);
    transition: 1s;
}

.btn {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    /* box-shadow: 2px 2px 2px 2px black; */
}

/* search */
.btn-search {
    margin-left: 15px;
    padding: 14px 20px;
    border-radius: 20px;
    background-color: white;
    
}

/* jumbotron */
.btn-jbt {
    padding: 10px;
    background-color: aqua;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid black;
}