/* search */
.search-box {
    padding: 10px;
    background-color: rgba(22, 138, 74, 0.7);
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}

#keyword {
    padding: 10px;
    width: 70%;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: silver;
    text-align: center;
}