.footer {
    margin-top: 20px;
    background-color: rgba(17, 28, 41, 0.7);
    border-radius: 20px;
    border: 3px solid black;
    color: rgb(197, 195, 195);
    overflow: hidden;
}

.foot {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: silver;
}

.copy {
    margin-bottom: 0;
    padding: 20px;
    background-color: rgb(221, 216, 216);
    color: black;
    box-shadow: 2px 2px 2px 2px white;
}

/* contact */
.contact {
    padding: 20px;
    background-color: rgba(22, 59, 34, 0.7);
    border: 2px solid black;
    width: 300px;
    height: auto;
}

/* poto */
.poto {
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    background-color: rgba(24, 22, 59, 0.7);
    border: 2px solid black;
    height: auto;
    width: 500px;
    text-align: center;
    overflow: hidden;
}

/* sosmed */
.sosmed {
    padding: 20px;
    background-color: rgba(22, 59, 34, 0.7);
    border: 2px solid black;
    text-align: center;
    width: 300px;
    height: auto;
    align-items: center;
}